Repository acainelli/atlantis-demo: changes, and which Atlantis projects are due for each by the changed paths.
All: template, audi-q5, bmw-3-series, chevrolet-corvette, dodge-charger, ford-mustang, honda-civic, hyundai-sonata, jeep-wrangler, mercedes-benz-e-class, nissan-altima, porsche-911, subaru-outback, tesla-model-3, toyota-camry, volkswagen-golf

template:
  dir: template

audi-q5:
  dir: ./repository/integromat-demo/audi-q5

bmw-3-series:
  dir: ./repository/integromat-demo/bmw-3-series

chevrolet-corvette:
  dir: ./repository/integromat-demo/chevrolet-corvette

dodge-charger:
  dir: ./repository/integromat-demo/dodge-charger

ford-mustang:
  dir: ./repository/integromat-demo/ford-mustang

honda-civic:
  dir: ./repository/integromat-demo/honda-civic

hyundai-sonata:
  dir: ./repository/integromat-demo/hyundai-sonata

jeep-wrangler:
  dir: ./repository/integromat-demo/jeep-wrangler

mercedes-benz-e-class:
  dir: ./repository/integromat-demo/mercedes-benz-e-class

nissan-altima:
  dir: ./repository/integromat-demo/nissan-altima

porsche-911:
  dir: ./repository/integromat-demo/porsche-911

subaru-outback:
  dir: ./repository/integromat-demo/subaru-outback

tesla-model-3:
  dir: ./repository/integromat-demo/tesla-model-3

toyota-camry:
  dir: ./repository/integromat-demo/toyota-camry

volkswagen-golf:
  dir: ./repository/integromat-demo/volkswagen-golf

add base modules
  modules/outputs-electric-car/main.tf
  modules/outputs-petrol-car/main.tf
  modules/outputs/main.tf
Due: none

add base modules
  atlantis.yaml
Due: none

test refactoring
  modules/outputs/main.tf
Due: none

test refactoring
  atlantis.yaml
Due: none

test refactoring
  modules/outputs-electric-car/main.tf
  modules/outputs-petrol-car/main.tf
  repository/integromat-demo/bmw-3-series/terraform/output.tf
  repository/integromat-demo/chevrolet-corvette/terraform/output.tf
  repository/integromat-demo/dodge-charger/terraform/output.tf
  repository/integromat-demo/ford-mustang/terraform/output.tf
  repository/integromat-demo/honda-civic/terraform/output.tf
  repository/integromat-demo/hyundai-sonata/terraform/output.tf
  repository/integromat-demo/jeep-wrangler/terraform/output.tf
  repository/integromat-demo/mercedes-benz-e-class/terraform/output.tf
  repository/integromat-demo/nissan-altima/terraform/output.tf
  repository/integromat-demo/porsche-911/terraform/output.tf
  repository/integromat-demo/subaru-outback/terraform/output.tf
  repository/integromat-demo/tesla-model-3/terraform/output.tf
  repository/integromat-demo/toyota-camry/terraform/output.tf
  repository/integromat-demo/volkswagen-golf/terraform/output.tf
Due: bmw-3-series, chevrolet-corvette, dodge-charger, ford-mustang, honda-civic, hyundai-sonata, jeep-wrangler, mercedes-benz-e-class, nissan-altima, porsche-911, subaru-outback, tesla-model-3, toyota-camry, volkswagen-golf

test refactoring
  repository/integromat-demo/audi-q5/terraform/output.tf
  repository/integromat-demo/bmw-3-series/terraform/output.tf
  repository/integromat-demo/chevrolet-corvette/terraform/output.tf
  repository/integromat-demo/dodge-charger/terraform/output.tf
  repository/integromat-demo/ford-mustang/terraform/output.tf
  repository/integromat-demo/honda-civic/terraform/output.tf
  repository/integromat-demo/hyundai-sonata/terraform/output.tf
  repository/integromat-demo/jeep-wrangler/terraform/output.tf
  repository/integromat-demo/mercedes-benz-e-class/terraform/output.tf
  repository/integromat-demo/nissan-altima/terraform/output.tf
  repository/integromat-demo/porsche-911/terraform/output.tf
  repository/integromat-demo/subaru-outback/terraform/output.tf
  repository/integromat-demo/tesla-model-3/terraform/output.tf
  repository/integromat-demo/toyota-camry/terraform/output.tf
  repository/integromat-demo/volkswagen-golf/terraform/output.tf
Due: audi-q5, bmw-3-series, chevrolet-corvette, dodge-charger, ford-mustang, honda-civic, hyundai-sonata, jeep-wrangler, mercedes-benz-e-class, nissan-altima, porsche-911, subaru-outback, tesla-model-3, toyota-camry, volkswagen-golf

test refactoring
  modules/output-carname/main.tf
Due: none

test
  atlantis.yaml
Due: none

test
  modules/output-carname/main.tf
Due: none

test trigger
  modules/output-carname/main.tf
Due: none

test
  repository/integromat-demo/bmw-3-series/terraform/main.tf
Due: bmw-3-series

test
  atlantis.yaml
  modules/output-carname/main.tf
Due: none

Path conditions:
  template: any of: template/modules/**/*.tf, template/**/*.tf
  audi-q5: any of: repository/integromat-demo/audi-q5/modules/**/*.tf, repository/integromat-demo/audi-q5/**/*.tf
  bmw-3-series: any of: repository/integromat-demo/bmw-3-series/modules/**/*.tf, repository/integromat-demo/bmw-3-series/**/*.tf
  chevrolet-corvette: any of: repository/integromat-demo/chevrolet-corvette/modules/**/*.tf, repository/integromat-demo/chevrolet-corvette/**/*.tf
  dodge-charger: any of: repository/integromat-demo/dodge-charger/modules/**/*.tf, repository/integromat-demo/dodge-charger/**/*.tf
  ford-mustang: any of: repository/integromat-demo/ford-mustang/modules/**/*.tf, repository/integromat-demo/ford-mustang/**/*.tf
  honda-civic: any of: repository/integromat-demo/honda-civic/modules/**/*.tf, repository/integromat-demo/honda-civic/**/*.tf
  hyundai-sonata: any of: repository/integromat-demo/hyundai-sonata/modules/**/*.tf, repository/integromat-demo/hyundai-sonata/**/*.tf
  jeep-wrangler: any of: repository/integromat-demo/jeep-wrangler/modules/**/*.tf, repository/integromat-demo/jeep-wrangler/**/*.tf
  mercedes-benz-e-class: any of: repository/integromat-demo/mercedes-benz-e-class/modules/**/*.tf, repository/integromat-demo/mercedes-benz-e-class/**/*.tf
  nissan-altima: any of: repository/integromat-demo/nissan-altima/modules/**/*.tf, repository/integromat-demo/nissan-altima/**/*.tf
  porsche-911: any of: repository/integromat-demo/porsche-911/modules/**/*.tf, repository/integromat-demo/porsche-911/**/*.tf
  subaru-outback: any of: repository/integromat-demo/subaru-outback/modules/**/*.tf, repository/integromat-demo/subaru-outback/**/*.tf
  tesla-model-3: any of: repository/integromat-demo/tesla-model-3/modules/**/*.tf, repository/integromat-demo/tesla-model-3/**/*.tf
  toyota-camry: any of: repository/integromat-demo/toyota-camry/modules/**/*.tf, repository/integromat-demo/toyota-camry/**/*.tf
  volkswagen-golf: any of: repository/integromat-demo/volkswagen-golf/modules/**/*.tf, repository/integromat-demo/volkswagen-golf/**/*.tf
